
body {
    padding-top: 60px; /* pad enough to show the fixed navbar */
}
@media (max-width: 980px) { body {
    padding-top: 0; /* navbar isn't fixed when narrow, no need to pad */
}   }


/* not broken after all */
a[href=""].fine,
a[href="#"].fine,
a:not([href]).fine,
.typeahead.dropdown-menu a[href="#"],
.typeahead.dropdown-menu a:not([href])
{
    box-shadow: none ! important;
    opacity: 1 ! important;
}


/* main navbar ----------------------------------------------------------- */

.navbar {
    background: #cfd; /* doesn't work, come back later in Less */
}

.navbar a.brand {
    color: #094;
    padding-left: 15px;
    padding-right: 35px;
}

.navbar a img {
    opacity: 0.66;
    float: left;
    margin: -5px 6px -9px;
}

.navbar .pull-right {
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 980px) { .navbar .pull-right {
        float: none;
        text-align: right;
}   }


/* breadcrumbs trail ----------------------------------------------------- */

.bccvl-breadcrumb ul.breadcrumb {
    margin: 1em 0 3em;
}

.bccvl-breadcrumb ul.breadcrumb li.separator {
    margin: 0 15px;
    opacity: 0.33;
}


/* button bar ------------------------------------------------------------ */

.bccvl-buttonbar {
    padding-bottom: 1em;
}


/* preview window -------------------------------------------------------- */

.bccvl-preview-pane {
    min-height: 100px;
    position: relative;
}

.bccvl-preview-pane .empty {
    text-align: center;
    font-weight: 900;
    font-size: 600%;
    opacity: 0.1;
    line-height: 300px;
    color: rgba(100,100,100, 0.5);
    text-shadow: 0 2px 0 white, 0 -0.005em 0 rgba(0,0,0, 0.5);
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
}

.bccvl-preview-pane .bccvl-viz {
    border: none;
    width: 100%;
    height: 100%;
}

.icon-link:hover {
    cursor: pointer;
}


/* wizard+tabs interface ------------------------------------------------- */

.bccvl-wizardtabs {
    position: relative;
}

.bccvl-wizardtabs, .bccvl-wizardtabs ~ .tab-content {
    opacity: 0.01; /* the wizard tab system will re-opacify the tabs */
}

.bccvl-wizardtabs-navbtns {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
}
.bccvl-wizardtabs-navbtns button {
    width: 9em;
    margin: 7px 0 0;
}
.bccvl-wizardtabs-navbtns button.bccvl-wizardtabs-prev { float: left;  }
.bccvl-wizardtabs-navbtns button.bccvl-wizardtabs-next { float: right; }

.bccvl-wizardtabs ul.nav {
    padding: 5px 11em 0;
}

.bccvl-tab-description {
    line-height: 1.1;
    padding: 0 0 0.4em;
    font-size: 150%;
    text-align: center;
    color: #094;
    opacity: 0.5;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    transition-delay: 1s;
}

.bccvl-tab-description.bccvl-read {
    opacity: 0;
}

.bccvl-labelfade-description {
    line-height: 1.1;
    padding: 0 0 0.4em;
    font-size: 100%;
    text-align: center;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    transition-delay: 1s;
    display: none;
}

.bccvl-labelfade-description.bccvl-unread {
    opacity: 0.5;
}

.bccvl-labelfade-description.bccvl-read {
    opacity: 0;
}


/* Login page ---------------------------------------------------------*/
.bccvl-loginfieldset {
    text-align: center;
}


/* Dataset page ---------------------------------------------------------*/
.bccvl-search-spinner {
    background:#FFFFFF url(../images/ajax-loader.gif) no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    height:18px;
    background-position: right center;
}

/*searchOccurrence_results*/
.bccvl-results-spinner {
    display: none;
    padding-top:25px;
    margin-left: auto;
    margin-right: auto;
}

.bccvl-small-spinner {
    background: url(../images/ajax-loader.gif) no-repeat 4px 4px;
    padding: 4px 4px 0px 22px;
    height: 15px;
    background-position: right center;
}

.bccvl-fail-red {
    color:#ff0000;
}

.bccvlbutton-dataset-upload{
    float: right;
}
/* stretcher related stuff ----------------------------------------------- */

/* the parent of a stretcher needs to be position absolute or relative. */
.bccvl-stretch-parent { position: relative; }


/* form validation ------------------------------------------------------- */

/*
 * Bootstrap already has a bunch of useful form styles, but there's nothing
 * that applies to 'error' radio buttons.
 */
.control-group.error input[type="radio"],
.control-group.error input[type="checkbox"] {
    outline: 1px solid red;
}


/* flash messages -------------------------------------------------------- */

.bccvl-flashmessage {
    display: block;
    padding: 0;
    margin: 0 0 2em;
}

.bccvl-flashmessage dt, .bccvl-flashmessage dd {
    display: inline;
    margin: 0;
}

/* experiment form ------------------------------------------------------- */

input.bccvl-expname {
    font-size: 28px; /* double normal, fix in Less */
    line-height: 50px;
    height: 50px;
}

textarea.bccvl-expdesc {
    margin-top: 1em;
}

/* ---
this doesn't work because Twitter Bootstrap doesn't properly
set the styles on the toggle link (if you click it, it gets the
collapse class applied, but if you click a different one, it
gets collapsed but doesn't get the .collapsed style applied.)

Update: this bug is fixed in Bootstrap 3.0, so for now let's
show the disclosure triangles, file a bug that they're wrong
sometimes, and TODO: upgrade when bootstrap 3 is out.
--- */
.bccvl-algoconfig .accordion-toggle:before {
    content: '\25bc';
    color: #ccc;
    float: left;
    width: 1.5em;
}

.bccvl-algoconfig .accordion-toggle.collapsed:before {
    content: '\25b6';
}

/* :: the config form elements from plone :::::::::::::::::::::::::::::::: */
/* TODO: this is a five minute slap up, come back and fix
   this styling, it's fucking awful */

.bccvl-algoconfig .object-widget-field {
    clear: both;
    padding: 0.5em 0;
}
.bccvl-algoconfig .object-widget-field > label {
    text-align: right;
    float: left;
    width: 47%;
    padding: 0.25em 2% 0 0;
}
/* hide the initial label "configuration for Blah Blah" which isn't needed */
.bccvl-algo-config > fieldset > div > label { display: none; }
/* hide the empty "required" indicator span */
.bccvl-algoconfig .object-widget-field label .required { display: none; }
.bccvl-algoconfig .object-widget-field label .formHelp {
    display: block;
    clear: both;
    font-size: 90%;
    line-height: 1.1;
    padding-top: 0.25em;
}
/* the label for checkboxes, coming after the checkbox itself */
.bccvl-algoconfig .object-widget-field span.option label {
    display: inline;
}
.bccvl-algoconfig .object-widget-field span.option label .label {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: none;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: inherit;
}
.bccvl-algoconfig .object-widget-field select[size='1'] {
    /* Bootstrap sets the height of selects to 30px then
    back to auto for multi-selects.  Plone specifies
    size=1, but bootstrap assumes the size attribute always
    implies a multiselect.  So, reset the height. */
    height: 30px;
}
.bccvl-algoconfig .object-widget-field .help-inline:before {
    /* inside object-widget-fields the inline help actually needs to
    be less inline, but parsley writes an inline style attribute forcing
    it to be display: inline. */
    content: '';
    display: block;
}
/* :: end of the plone-imported config stuff ::::::::::::::::::::::::::::: */

.bccvl-expstatus {
    /*font-size: 150%;*/
    text-align: center;
    padding: 2em 0;
}
.bccvl-expstatus p {
    margin-bottom: 0.66em;
}
.bccvl-expstatus button {
    margin-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.bccvl-expstatus .close {
    right: 13px;
    top: -20px;
}

/* makes the experiment-is-finished alert box smaller.. */
.bccvl-expstatus.alert-success {
    padding: 0.5em;
}
.bccvl-expstatus.alert-success p {
    margin-bottom: 0;
}

.bccvl-dropdownlabel {
    padding: 0.5em;
    color: #999;
}

.bccvl-dimension-equation {
    font-size: 175%;
    text-align: center;
}
.bccvl-dimension-equation .bccvl-dimension-value {
    font-weight: bold;
}


/* inline search sections ------------------------------------------------ */

.bccvl-searchform-results {
    margin: 10px 0;
    display: none;
    padding: 5px;
    border-radius: 2px;
    margin: 10px 0;
}
.bccvl-searchform-results.bccvl-search-active {
    background: rgba(0, 153, 64, 0.5);
    display: block;
}

.bccvl-searchform-results table.table {
    margin-bottom: 0;
    background-color: rgba(255,255,255, 0.66);
}

.bccvl-searchform-results .bccvl-thumb {
    text-align: center;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.bccvl-searchform-results .bccvl-thumb img {
    height: 100%;
}

/* tables ---------------------------------------------------------------- */

.bccvl-table-choose {
    text-align: left;
}

thead th {
    font-size: 150%;
}

td.bccvl-table-controls {
    text-align: right;
}
td.bccvl-table-controls a {
    float: right;
    border-radius: 1px;
    padding: 3px 6px;
}
td.bccvl-table-controls a:hover {
    box-shadow: 0 0 1px 1px #ccc;
}

.bccvl-table-label h1 {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
}
.bccvl-table-label h1 small {
    font-size: 90%;
}

.bccvl-table-label p {
    padding: 0;
    margin: 0;
    font-size: 80%;
}

.bccvl-table-empty p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 125%;
    opacity: 0.33;
    color: #666;
    /*text-shadow: 0 1px 0 white, 0 -1px 0 black;*/
}

.bccvl-experimenttable th span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    margin-top: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("++theme++org.bccvl.theme/lib/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.bccvl-experimenttable th.headerSortUp span {
    background-position: -288px -120px;
}
.bccvl-experimenttable th.headerSortDown span {
    background-position: -313px -119px;
}

.bccvl-experimenttable tr.headers {
    background-color: #f5f5f5;
}

td.bccvl-full-list {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
}

.bccvl-experiment-summary {
    line-height: 15px;
}

/* footer ---------------------------------------------------------------- */

footer {
    opacity: 0.33;
    box-shadow: inset 0 9px 9px -9px #094;
    box-shadow: inset 0 75px 75px -75px #bbb;
    margin-top: 4em;
    border-top: 1px solid #aaa;
    color: #094;
    text-align: center;
    padding-bottom: 2em;
}
footer > div {
    padding-top: 1em;
    margin-bottom: 0;
}
footer.navbar {
    background-color: transparent;
}


/* knowledgebase ---------------------------------------------------------------- */

.navTree {
  margin-bottom: 0px;
  margin-left: 0;
  list-style: none;
  *zoom: 1;
  border-left: 1px dotted #d5d5d5;
}

.navTree > li {
  float: none;
}

.navTree > li > a {
  display: block;
  line-height: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 0;
  margin-top: 2px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.navTree > li > a:hover,
.navTree > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navTree > li > a > img {
  max-width: none;
  display: none;
}

.navTree > .pull-right {
  float: right;
}

.navTree:before,
.navTree:after {
  display: table;
  line-height: 0;
  content: "";
}

.navTree:after {
  clear: both;
}

.navTree > li:last-child > a {
  margin-bottom: 1px;
}

.navTree > .navTreeCurrentNode > a,
.navTree > .navTreeCurrentNode > a:hover,
.navTree > .navTreeCurrentNode > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}

.navTreeLevel0 {
  border-left: 0px;
}

.navTreeLevel1,
.navTreeLevel2,
.navTreeLevel3,
.navTreeLevel4,
.navTreeLevel5 {
  margin-left: 12px;
}

.morefilters > .facetmenu{
    display: none;
}

ul.facetmenu li input {
    float: right;
}

ul.facetmenu 

div.searchfilter h3 {
    font-size: 110%;
    font-weight: bold;
    margin: 0;
    padding: 0.2em 0.5em;
}

div.morefilters h4 {
    background-color: #F5F5F5;
    border-bottom: 1px solid #CCCCCC;
    color: #000099;
    cursor: pointer;
    font-size: 0.9em;
    margin: 0;
    padding: 0.2em 0.5em;
    border-radius: 15px;
}

div.morefilters h5 {
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
    margin-right: 1em;
    margin-top: -1.8em;
    text-align: right;
}

div.morefilters h4 span.label {
    text-decoration: underline;
}


/* search results ---------------------------------------------------------------- */

#search-results-bar {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    padding: 1em 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

#content {
    clear: both;
    line-height: 1.5em;
    margin: 1em 0.25em 2em;
    padding-left: 10%;
    padding-right: 10%;
}

.actionMenuContent {
    display: none;
}

.actionMenuContent fieldset {
    width: 20%;
    line-height: 0;
}

.actionMenu label{
    font-size: 80%;
    display: inline;
    padding-left: 2px;
}

.actionMenu legend{
    font-size: 90%;
    font-weight: bold;
}

.formControls {
    padding-top: 10px;
}

#searchResultsSort {
    float: right;
}

.searchButton {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-left: 5px;
    margin-bottom: 10px;
}

.searchButton{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


/*experiment results page*/

.experiment-details > div > label{
    font-weight:    bold;
}

.experiment-details > div{
    margin-bottom: 15px;
}

.dict-field > .row{
    margin-left: 0;
}

.experiment-configuration > div > label{
    font-weight:    bold;
}

.experiment-configuration > div{
    margin-bottom: 15px;
}

.experiment-configuration.object-widgetlabel {
    display: inline;
    font-weight: bold;
}

.label, .badge {
    background-color: #FFFFFF;
    color: #000000;
}

.experiment-configuration, .object-widget, .widget{
    margin-left: 10px;
}
