
body {
    padding-top: 60px; /* pad enough to show the fixed navbar */
}
@media (max-width: 980px) { body {
    padding-top: 0; /* navbar isn't fixed when narrow, no need to pad */
}   }


/* broken things (not yet implemented) */
a[href=""],
a[href="#"],
a:not([href]),
.broken
{
    box-shadow: inset 0 0 20px 3px #fee, 0 0 5px 3px #fee ! important;
}


/* not broken after all */
a[href=""].fine,
a[href="#"].fine,
a:not([href]).fine,
.typeahead.dropdown-menu a[href="#"],
.typeahead.dropdown-menu a:not([href])
{
    box-shadow: none ! important;
}


/* sample data (to demonstrate how content will show up) */
.sampledata td,
.sampledata {
    background-image: url(../images/sample-data-bg.png);
}

.debug > div {
    background: #ffd;
    padding: 2em;
    margin: 3em 0 1em;
    opacity: 0.1;
    transition: 1s;
}
.debug > div:hover { opacity: 1.0; }

/* main navbar ----------------------------------------------------------- */

.navbar {
    background: #cfd; /* doesn't work, come back later in Less */
}

.navbar a.brand {
    color: #094;
    padding-left: 15px;
    padding-right: 35px;
}

.navbar a img {
    opacity: 0.66;
    float: left;
    margin: -5px 6px -9px;
}

.navbar .pull-right {
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 980px) { .navbar .pull-right {
        float: none;
        text-align: right;
}   }


/* breadcrumbs trail ----------------------------------------------------- */

.bccvl-breadcrumb ul.breadcrumb {
    margin: 1em 0 3em;
}

.bccvl-breadcrumb ul.breadcrumb li.separator {
    margin: 0 15px;
    opacity: 0.33;
}


/* button bar ------------------------------------------------------------ */

.bccvl-buttonbar {
    padding-bottom: 1em;
}


/* preview window -------------------------------------------------------- */

.bccvl-preview-pane {
    height: 500px;
    min-height: 100px;
    position: relative;
}

.bccvl-preview-pane .empty {
    text-align: center;
    font-weight: 900;
    font-size: 600%;
    opacity: 0.1;
    line-height: 300px;
    color: rgba(100,100,100, 0.5);
    text-shadow: 0 2px 0 white, 0 -0.005em 0 rgba(0,0,0, 0.5);
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
}

.bccvl-preview-pane .bccvl-viz {
    border: none;
    width: 100%;
    height: 100%;
}


/* wizard+tabs interface ------------------------------------------------- */

.bccvl-wizardtabs {
    position: relative;
}

.bccvl-wizardtabs, .bccvl-wizardtabs ~ .tab-content {
    opacity: 0.01; /* the wizard tab system will re-opacify the tabs */
}

.bccvl-wizardtabs-navbtns {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
}
.bccvl-wizardtabs-navbtns button {
    width: 9em;
    margin: 7px 0 0;
}
.bccvl-wizardtabs-navbtns button.bccvl-wizardtabs-prev { float: left;  }
.bccvl-wizardtabs-navbtns button.bccvl-wizardtabs-next { float: right; }

.bccvl-wizardtabs ul.nav {
    padding: 5px 11em 0;
}

.bccvl-tab-description {
    line-height: 1.1;
    padding: 0 0 0.4em;
    font-size: 150%;
    text-align: center;
    color: #094;
    opacity: 0.5;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    transition-delay: 1s;
}

.bccvl-tab-description.bccvl-read {
    opacity: 0;
}

/* stretcher related stuff ----------------------------------------------- */

/* the parent of a stretcher needs to be position absolute or relative. */
.bccvl-stretch-parent { position: relative; }


/* form validation ------------------------------------------------------- */

/*
 * Bootstrap already has a bunch of useful form styles, but there's nothing
 * that applies to 'error' radio buttons.
 */
.control-group.error input[type="radio"],
.control-group.error input[type="checkbox"] {
    outline: 1px solid red;
}


/* flash messages -------------------------------------------------------- */

.bccvl-flashmessage {
    display: block;
    padding: 0;
    margin: 0 0 2em;
}

.bccvl-flashmessage dt, .bccvl-flashmessage dd {
    display: inline;
    margin: 0;
}

/* experiment form ------------------------------------------------------- */

input.bccvl-expname {
    font-size: 28px; /* double normal, fix in Less */
    line-height: 50px;
    height: 50px;
}

textarea.bccvl-expdesc {
    margin-top: 1em;
}

/* ---
this doesn't work because Twitter Bootstrap doesn't properly
set the styles on the toggle link (if you click it, it gets the
collapse class applied, but if you click a different one, it
gets collapsed but doesn't get the .collapsed style applied.)

Update: this bug is fixed in Bootstrap 3.0, so for now let's
show the disclosure triangles, file a bug that they're wrong
sometimes, and upgrade when bootstrap 3 is out.
--- */
.bccvl-algoconfig .accordion-toggle:before {
    content: '\25bc';
    color: #ccc;
    float: left;
    width: 1.5em;
}

.bccvl-algoconfig .accordion-toggle.collapsed:before {
    content: '\25b6';
}

/* ..:: the config form elements from plone */
/* todo: this is a five minute slap up, come back and fix this styling, it's fucking awful */
.bccvl-algoconfig .object-widget-field {
    clear: both;
    padding: 0.25em 0;
}
.bccvl-algoconfig .object-widget-field label {
    text-align: right;
    float: left;
    width: 50%;
    padding-right: 1em;
}
.bccvl-algoconfig .object-widget-field label .formHelp {
    clear: both;
    font-size: 90%;
}
/* ::.. end of the plone-imported config stuff */

.bccvl-expstatus {
    /*font-size: 150%;*/
    text-align: center;
    padding: 2em 0;
}
.bccvl-expstatus p {
    margin-bottom: 0.66em;
}
.bccvl-expstatus button {
    margin-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.bccvl-expstatus .close {
    right: 13px;
    top: -20px;
}

/* the experiment-is-finished alert box should be smaller.. */
.bccvl-expstatus.alert-success {
    padding: 0.5em;
}
.bccvl-expstatus.alert-success p {
    margin-bottom: 0;
}

.bccvl-dropdownlabel {
    padding: 0.5em;
    color: #999;
}

.bccvl-dimension-equation {
    font-size: 175%;
    text-align: center;
}
.bccvl-dimension-equation .bccvl-dimension-value {
    font-weight: bold;
}


/* inline search sections ------------------------------------------------ */

.bccvl-searchform-results {
    margin: 10px 0;
    display: none;
    padding: 5px;
    border-radius: 2px;
    margin: 10px 0;
}
.bccvl-searchform-results.bccvl-search-active {
    background: rgba(0, 153, 64, 0.5);
    display: block;
}

.bccvl-searchform-results table.table {
    margin-bottom: 0;
    background-color: rgba(255,255,255, 0.66);
}

.bccvl-searchform-results .bccvl-thumb {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.bccvl-searchform-results .bccvl-thumb img {
/*    display: block;
    position: absolute;
    left: 20px;
    margin-left: -50%;
*/    height: 100%;
}

/* tables ---------------------------------------------------------------- */

.bccvl-table-choose {
    text-align: left;
}

thead th {
    font-size: 150%;
}

td.bccvl-table-controls {
    text-align: right;
}
td.bccvl-table-controls a {
    float: right;
    border-radius: 1px;
    padding: 3px 6px;
}
td.bccvl-table-controls a:hover {
    box-shadow: 0 0 1px 1px #ccc;
}

.bccvl-table-label h1 {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
}
.bccvl-table-label h1 small {
    font-size: 90%;
}

.bccvl-table-label p {
    padding: 0;
    margin: 0;
    font-size: 80%;
}

.bccvl-table-empty p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 125%;
    opacity: 0.33;
    color: #666;
    /*text-shadow: 0 1px 0 white, 0 -1px 0 black;*/
}

td.bccvl-full-list {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
}

/* footer ---------------------------------------------------------------- */

footer {
    opacity: 0.33;
    box-shadow: inset 0 9px 9px -9px #094;
    box-shadow: inset 0 75px 75px -75px #bbb;
    margin-top: 4em;
    border-top: 1px solid #aaa;
    color: #094;
    text-align: center;
    padding-bottom: 2em;
}
footer > div {
    padding-top: 1em;
    margin-bottom: 0;
}






