
@import url('fonts.css');
@import url('../lib/fontawesome/css/font-awesome.min.css');
@import url('../lib/selectize/selectize.default.css');
@import url('../lib/ol3/ol.css');
@import url('../lib/ol3/layerswitcher/ol3-layerswitcher.css');
@import url('../lib/ol3/additional.css');

body {
    background:#333333;
    font-size:13px;
    line-height: 19px;
}
* {

}
.alert p strong {
    font-size:14px;
}
.table {
    word-break: break-all;
}
.white-bg {
    background:#FFF;
}
@media (max-width: 760px) {
.white-bg {
    margin: 0 -20px;
    padding: 0 20px;
}
}
@media (max-width: 980px) { body {
    padding-top: 0; /* navbar isn't fixed when narrow, no need to pad */
}   }
h1,h2,h3,h4,h5,h6 {
    color: #009FE3;
    word-break: normal;
}
a.active, a.active:hover {
    color:rgba(0,0,0,.5);
    cursor:default;
    text-decoration: none;
}
.btn-default, .btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-decoration: none;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #D5D2D2 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: 5px;
padding-right: 5px;
  word-break: normal;
}
.btn-primary {
    color: #ffffff!important;
    text-shadow:none;
    border-color: #2a8b25!important;
    background: #3bab35!important;
    background-image: -webkit-linear-gradient(top, #4dc345 0%, #3bab35 100%)!important;
    background-image: -moz-linear-gradient(top, #4dc345 0%, #3bab35 100%)!important;
    background-image: -ms-linear-gradient(top, #4dc345 0%, #3bab35 100%)!important;
    background-image: -o-linear-gradient(top, #4dc345 0%, #3bab35 100%)!important;
    background-image: linear-gradient(to bottom, #4dc345 0%, #3bab35 100%)!important;
    text-transform: capitalize;
}
.btn-primary[disabled] {
    opacity:0.5!important;
}
.btn-primary:hover {
    background-position: 0 0!important;
    color: #ffffff!important;
    background: #4dc345!important;
}
.btn-success {
    color: #ffffff!important;
    text-shadow:none;
    border-color: #0090cd!important;
    background: #009fe3!important;
    background-image: -webkit-linear-gradient(top, #4dbceb 0%, #009fe3 100%)!important;
    background-image: -moz-linear-gradient(top, #4dbceb 0%, #009fe3 100%)!important;
    background-image: -ms-linear-gradient(top, #4dbceb 0%, #009fe3 100%)!important;
    background-image: -o-linear-gradient(top, #4dbceb 0%, #009fe3 100%)!important;
    background-image: linear-gradient(to bottom, #4dbceb 0%, #009fe3 100%)!important;
    text-transform: capitalize;
}
.btn-success[disabled] {
    opacity:0.5!important;
}
.btn-success:hover {
    background-position: 0 0!important;
    color: #ffffff!important;
    background: #4dbceb!important;
}
.btn-info {
color: #ffffff !important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
background-color: #49afcd;
background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
background-repeat: repeat-x;
border-color: #2f96b4 #2f96b4 #1f6377 !important;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420 !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse {
color: #ffffff!important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
  background-color: #363636!important;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000!important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.new-experiment-button {
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em;
    line-height: 1.2em;
    text-indent: 0;
    font-family: "OpenSansSemiBold";
    border-radius:5px;
    box-shadow: none!important;
    text-shadow: none;
    margin-bottom:.5em;
    text-transform: capitalize;
    background:#ecf0f1;

}
.new-experiment-button a {
    border-radius: 5px;
}

.new-experiment-button a:hover {
    background:#e1ebee;
}
.experiment-stm span {
    color: #f9b233!important;
}
.experiment-cce span {
    color: #4dc345!important;
}
.experiment-bio span{
    color:#16a085!important;
}
.experiment-sdm span{
    color: #e74c3c!important;
}
.experiment-ensemble span {
    color: #34495e!important;
}
.experiment-stm a:hover, .experiment-stm a:hover span {
    background: #f9b233!important;
    color: white!important;
    text-decoration: none;
}
.experiment-cce a:hover, .experiment-cce a:hover span {
    background: #4dc345!important;
    color: white!important;
    text-decoration: none;
}
.experiment-bio a:hover, .experiment-bio a:hover span {
    background: #16a085!important;
    color: white!important;
    text-decoration: none;
}
.experiment-sdm a:hover, .experiment-sdm a:hover span {
    background: #e74c3c!important;
    color: white!important;
    text-decoration: none;
}
.experiment-ensemble a:hover, .experiment-ensemble a:hover span {
    background: #34495e!important;
    color: white!important;
    text-decoration: none;
}
p.label {
      display: inline-block;
}
.label.label-BIODIVERSE {
    background-color: #009FE3;
    color: white;
    padding: 4px 5px 2px 4px;
}
.label.label-SDM {
    background-color: #e74c3c;
    color: white;
    padding: 4px 5px 2px 4px;
}
.label.label-STM {
    background-color: #eca21e;
    color: white;
    padding: 4px 5px 2px 4px;
}
.label.label-PROJECTION {
    background-color: #4dc345;
    color: white;
    padding: 4px 5px 2px 4px;
}
.label.label-ENSEMBLE {
    background-color: #34495e;
    color: white;
    padding: 4px 5px 2px 4px;
}
td.date-time {
    word-break:normal;
    line-height: 1.3em;
}
.experiment-more-info ul li {
    line-height: 1.3em;
    margin-top:.3em;
}

.new-experiment-button a, .new-experiment-button a span {
    display:block;
    height:100%;
}
.new-experiment-button a i {
    display:inline-block;
    font-size: 1em;
}
div.loader {
    text-align: center;
    background-image: url('../images/bccvl-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100%;
    display: inline-block;
}


.new-experiment-button a:focus, .new-experiment-button a:visited {
    text-decoration: none;
}
.new-experiment-button a {
    display: block;
    padding: 0.7em;
}

.logo-icon {
    background-image:url('../images/bccvl_logo_beta.png');
    background-repeat: no-repeat;
    background-position: left center;
    display:inline-block;
}
.logo-icon-lge {
    width:100px;
    height:100px;
}
.bccvl-main {
    padding-bottom:2em;
}
.aaf-logo-link {
    margin-top:1em;
}
.login .bccvl-main, .dashboard .bccvl-main {
    padding:2% 0 4%;
}
/* main navbar ----------------------------------------------------------- */

.navbar {
    background: #cfd; /* doesn't work, come back later in Less */
}
.navbar .nav {
    margin:1.6em 0;
    float:none;
}
.navbar a.brand {
    color: #094;
    padding-left: 15px;
}

.navbar a img {
    float: left;
    max-width:190px;
    margin:8px 0;
}

.navbar .nav > li > a {
    color:#333;
    font-family:'OpenSansRegular';
    padding-left:.75em;
    padding-right:.75em;
    font-size:1.15em;
    text-shadow: none;
}

.navbar .pull-right {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-static-top {
    margin-bottom:1.5em;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0px 1px 1px rgba(0,0,0,.15);
    background:#FFF;
    border-bottom:0px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: rgba(0,0,0,.1);
    box-shadow: none;
}
.navbar-search .search-query {
    line-height: 20px;
}

@media (max-width: 980px) { .navbar .pull-right {
        float: none;
        text-align: right;
}   }


/* breadcrumbs trail ----------------------------------------------------- */

.bccvl-breadcrumb ul.breadcrumb {
    margin: 0 0 1em;
}

.bccvl-breadcrumb ul.breadcrumb li.separator {
    margin: 0 15px;
    opacity: 0.33;
}


/* button bar ------------------------------------------------------------ */

.bccvl-buttonbar {
    padding-bottom: 1em;
}


/* preview window -------------------------------------------------------- */

.bccvl-preview-pane {
    min-height: 100px;
    position: relative;
    padding:0;
    height: 100%;
    min-height: 500px;
    background:rgba(0,0,0,.1);
    max-height: 800px;
    width:100%;
}

.bccvl-preview-pane.active, .bccvl-preview-pane.multimaps {
    background:none;
}

.bccvl-preview-pane .empty {
    text-align: center;
    font-weight: 900;
    font-size: 600%;
    opacity: 0.1;
    line-height: 300px;
    color: rgba(100,100,100, 0.5);
    text-shadow: 0 2px 0 white, 0 -0.005em 0 rgba(0,0,0, 0.5);
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
}
.bccvl-preview-pane img {
    margin: 0 auto;
    display: block;
}

.bccvl-preview-pane pre {
    border-radius: 0px;
    border:none;
}
.bccvl-preview-pane .table {
    border-spacing: 0; 
    border-collapse: collapse;
}
.bccvl-preview-pane .table tr td {
    background:none;
    border-top:1px solid #ddd;
}
    
.bccvl-preview-pane .bccvl-viz {
    border: none;
    width: 100%;
    height: 100%;
}
.bccvl-preview-pane .minimap:nth-child(3n) {
    margin-right: 0!important;
}
.bccvl-preview-pane .minimap {
    position: relative;
    height: 200px;
    width: 32%;
    display: inline-block;
    margin-right: 2%!important;
    margin-bottom: 4.8em!important;
    vertical-align: top;
}
.bccvl-preview-pane .minimap label {
    background: rgba(0,0,0,.5);
    color: white;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding: .3em;
    font-size: 0.95em;
    text-overflow: ellipsis;
}
#tab-compare .olLegend i {
    opacity:1!important;
}

.icon-link:hover {
    cursor: pointer;
}
.window-layout .bccvl-my-datasets .span4 {
    overflow-y:scroll;
    box-shadow: inset 0px -3px 2px rgba(0,0,0,.1), inset 0px 3px 2px rgba(0,0,0,.1);
}

/* wizard+tabs interface ------------------------------------------------- */

.bccvl-wizardtabs {
    position: relative;
}

.bccvl-wizardtabs, .bccvl-wizardtabs ~ .tab-content {
    opacity: 0.01; /* the wizard tab system will re-opacify the tabs */
}

.bccvl-wizardtabs-navbtns {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
}
.bccvl-wizardtabs-navbtns button {
    width: 9em;
    margin: 7px 0 0;
}
.bccvl-wizardtabs-navbtns button.bccvl-wizardtabs-prev { float: left;  }
.bccvl-wizardtabs-navbtns button.bccvl-wizardtabs-next { float: right; }

.bccvl-wizardtabs ul.nav {
    padding: 5px 11em 0;
}

.bccvl-tab-description {
    line-height: 1.1;
    padding: 0 0 .3em 0;
    font-size: 125%;
    color: #3baa35;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    transition-delay: 1s;
    display: block;
    margin-left: 0!important;
    margin-top: 0.5em;
    margin-bottom:.35em;
    height:30px;
    font-family: 'OpenSansRegular';
}

.bccvl-tab-description.bccvl-read {

}
.bccvl-experimentdetails {
    min-height: 500px;
}

.bccvl-labelfade-description {
    line-height: 1.1;
    padding: 0 0 0.4em;
    font-size: 100%;
    text-align: center;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    transition-delay: 1s;
    display: none;
}

.bccvl-labelfade-description.bccvl-unread {
    opacity: 0.5;
}

.bccvl-labelfade-description.bccvl-read {
    opacity: 0;
}


/* Login page ---------------------------------------------------------*/
.bccvl-loginfieldset {
    text-align: center;
}
#login-form .field {
    display:inline-block;
}
#fieldset-site-login h3 {
    display:none;
}
.disclaimer input[type="checkbox"], .legals input[type="checkbox"]{
    margin-top:0;
}

/* Dataset page ---------------------------------------------------------*/

.bccvl-datasetimportform {
    min-height: 300px;
}

.bccvl-search-spinner {
    background:#FFFFFF url(../images/ajax-loader.gif) no-repeat 4px 4px;
    padding:4px 4px 4px 22px;
    height:18px;
    background-position: right center;
}

/*searchOccurrence_results*/
.bccvl-results-spinner {
    display: none;
    padding-top:25px;
    margin-left: auto;
    margin-right: auto;
}

.bccvl-small-spinner {
    background: url(../images/ajax-loader.gif) no-repeat 4px 4px;
    padding: 4px 4px 0px 22px;
    height: 15px;
    background-position: right center;
}

.bccvl-fail-red {
    color:#ff0000;
}

.bccvlbutton-dataset-upload{
    float: right;
}
.bccvl-datasetstable th:first-child, .bccvl-datasetstable th:last-child {
    width: 30%;
}
.bccvl-datasetstable th.control-group {
    padding: 0px;
}

.bccvl-datasetstable th.headerSortUp span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("++resource++bccvl/lib/bootstrap/img/glyphicons-halflings.png");
    background-position: -288px -120px;
    background-repeat: no-repeat;
}
.bccvl-datasetstable th.headerSortDown span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    margin-top: 5px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("++resource++bccvl/lib/bootstrap/img/glyphicons-halflings.png");
    background-position: -313px -119px;
    background-repeat: no-repeat;
}

.bccvl-datasetstable tr.headers {
    background-color: #f5f5f5;
}

.bccvl-datasetstable tr.headers th {
    cursor: pointer;
    font-size: 1.2em;
}

/* ---Edit layer modal--- */
.modal {
    max-height: 80%;
    overflow-y: auto;
    margin-left: 0;
    left: 25%;
    width: 50%;
}

.modal-body {
    max-height: 60%
}

body.modal-open {
    overflow: hidden;
}

/* stretcher related stuff ----------------------------------------------- */

/* the parent of a stretcher needs to be position absolute or relative. */
.bccvl-stretch-parent { position: relative; }


/* form validation ------------------------------------------------------- */

/*
 * Bootstrap already has a bunch of useful form styles, but there's nothing
 * that applies to 'error' radio buttons.
 */
.control-group.error input[type="radio"],
.control-group.error input[type="checkbox"]
.control-group.error p {
    outline: 1px solid red;
}

.projection-error-message {
    text-align: center;
    font-weight: bold;
    color: #B94A48;
}

/* flash messages -------------------------------------------------------- */

.bccvl-flashmessage {
    display: block;
    padding: 0 1em;
    margin: 0 0 1em;
}

.bccvl-flashmessage dt, .bccvl-flashmessage dd {
    display: inline;
    margin: 0;
}

/* experiment form ------------------------------------------------------- */

input.bccvl-expname {
    line-height: 1.4em;
    height: 2.5em;
}

textarea.bccvl-expdesc {
    margin-top: 1em;
}

/* ---
this doesn't work because Twitter Bootstrap doesn't properly
set the styles on the toggle link (if you click it, it gets the
collapse class applied, but if you click a different one, it
gets collapsed but doesn't get the .collapsed style applied.)

Update: this bug is fixed in Bootstrap 3.0, so for now let's
show the disclosure triangles, file a bug that they're wrong
sometimes, and TODO: upgrade when bootstrap 3 is out.
--- */
.bccvl-algoconfig .accordion-toggle:before {
    content: '\25bc';
    color: #ccc;
    float: left;
    width: 1.5em;
}

.bccvl-algoconfig .accordion-toggle.collapsed:before {
    content: '\25b6';
}

/* :: the config form elements from plone :::::::::::::::::::::::::::::::: */
/* TODO: this is a five minute slap up, come back and fix
   this styling, it's fucking awful */
/* Gerhard */
.bccvl-algoconfig .algo-params .field {
    clear: both;
    padding: 0.5em 0;
}
.bccvl-algoconfig .algo-params .field > label {
    text-align: right;
    float: left;
    width: 47%;
    padding: 0.25em 2% 0 0;
}
/* hide the initial label "configuration for Blah Blah" which isn't needed */
.bccvl-algoconfig > fieldset > div > label { display: none; }

.bccvl-algoconfig .algo-params .field label .formHelp {
    display: block;
    clear: both;
    font-size: 90%;
    line-height: 1.1;
    padding-top: 0.25em;
}
/* the label for checkboxes, coming after the checkbox itself */
/* Gerhard */
.bccvl-algoconfig .algo-params .field span.option label {
    display: inline;
}
.bccvl-algoconfig .algo-params .field span.option label .label {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: none;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: inherit;
}
/* Gerhard */
.bccvl-algoconfig .algo-params .field select[size='1'] {
    /* Bootstrap sets the height of selects to 30px then
    back to auto for multi-selects.  Plone specifies
    size=1, but bootstrap assumes the size attribute always
    implies a multiselect.  So, reset the height. */
    height: 30px;
}
.bccvl-algoconfig .algo-params .field .help-inline:before {
    /* inside object-widget-fields the inline help actually needs to
    be less inline, but parsley writes an inline style attribute forcing
    it to be display: inline. */
    content: '';
    display: block;
}
/* :: end of the plone-imported config stuff ::::::::::::::::::::::::::::: */

.bccvl-expstatus {
    /*font-size: 150%;*/
    text-align: center;
    padding: 0.5em;
}
.bccvl-expstatus p {
    margin-bottom: 0em;
}
.bccvl-expstatus button {
    margin-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
.bccvl-expstatus .close {
    right: 13px;
    top: -20px;
}

/* makes the experiment-is-finished alert box smaller.. */
.bccvl-expstatus.alert-success {
    padding: 0.5em;
}
.bccvl-expstatus.alert-success p {
    margin-bottom: 0;
}

.bccvl-dropdownlabel {
    padding: 0.5em;
    color: #999;
}

.bccvl-dimension-equation {
    font-size: 175%;
    text-align: center;
}
.bccvl-dimension-equation .bccvl-dimension-value {
    font-weight: bold;
}

.bccvl-projections-counter {
    font-size: 175%;
    text-align: center;
}

.bccvl-projections-counter .bccvl-available-projections {
    font-weight: bold;
}


.experiment-configuration > div > label{
    font-weight:    bold;
}

.experiment-configuration > div{
    margin-bottom: 15px;
}

.experiment-configuration.object-widgetlabel {
    display: inline;
    font-weight: bold;
}

.label {
    display: inline;
    background-color: #FFFFFF;
    color: #000000;
    text-shadow: none;
}

.badge {
    display: inline;
}

.option > label {
    display: inline;
    margin-bottom: 0;
}

div.random-absences-settings div.formHelp {
    font-size: 80%;
}

.single-checkbox-widget{
    vertical-align: top;
}
div.random-absences-settings label.horizontal {
    font-size: 90%;
    font-weight: bold;
}

div.random-absences-settings label.horizontal span.formHelp {
    font-size: 80%;
    font-weight: normal;
    display: block;
}

.experiment-configuration, .algo-params, .widget{
    margin-left: 10px;
}

/* inline search sections ------------------------------------------------ */

.bccvl-searchform-results {
    margin: 10px 0;
    display: none;
    border-radius: 2px;
    margin: 10px 0;
}
.bccvl-searchform-results.bccvl-search-active {
    display: block;
}

.bccvl-searchform-results table.table {
    margin-bottom: 0;
    background-color: rgba(255,255,255, 0.66);
}

.bccvl-searchform-results .bccvl-thumb {
    text-align: center;
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
}
.bccvl-searchform-results .bccvl-thumb img {
    height: 100%;
}

/* tables ---------------------------------------------------------------- */

.bccvl-table-choose {
    text-align: left;
}

thead th {
    font-family:'OpenSansSemibold';
}

td.bccvl-table-controls {
    text-align: right;
    min-width:80px;
}
td.bccvl-table-controls a {
  display: inline-block;
  font-size: 1em;
  margin-bottom: .4em;
  padding: .1em .4em;
}
td.bccvl-table-controls a.btn {
  border-width: 1px;
  border-style: solid;
  float:right;
  clear:right;
  margin-left: .3em;
}
td.bccvl-table-controls a.btn:hover {
    text-decoration: none;
}
#bccvl-experimentresults-table td.bccvl-table-controls a.btn {
  display: inline-block;
  width: 20px;
  min-width: 20px;
  padding: 3px;
}
#bccvl-experimentresults-table td.bccvl-table-controls a.export-btn, #bccvl-experimentresults-table td.bccvl-table-controls a.download-btn {
    min-width: 80px;
    display: inline-block;
    padding: 1px 3px;
}
a.figshare-export-link {
    background-image: url("++resource++bccvl/images/figshare-main-new.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 180px;
  height: 60px;
  display: inline-block;
  padding: 1em;
  border: 3px solid rgba(0,0,0,.1);
  text-indent: -9999px;
  overflow: hidden;
  transition: all .15s ease-in;
}
a.figshare-export-link:hover {
    border-color: #009FE3;
}
#bccvl-experimentresults-table td.bccvl-table-controls a i {
  vertical-align: baseline;
}

/*td.bccvl-table-controls a:hover {
    box-shadow: 0 0 1px 1px rgba(0,0,0,.25);
    background:#FFF;
}*/

.bccvl-table-label h1 {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
}
.bccvl-table-label h1 small {
    font-size: 90%;
}

.bccvl-datasetstable td {
    line-height: 1.3em;
}
.bccvl-table-label p {
    padding: 0;
    margin: 0;
    line-height: 1.3em;
}

.bccvl-table-empty p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    letter-spacing: 0.1em;
    font-size: 125%;
    opacity: 0.33;
    color: #666;
    /*text-shadow: 0 1px 0 white, 0 -1px 0 black;*/
}
.bccvl-experimenttable td {
    padding:12px;
}
.bccvl-experimenttable ul, .bccvl-experimenttable-accordion ul {
    list-style-type: none;
    margin-left: 1em;
}
.bccvl-experimenttable ul li, .bccvl-experimenttable-accordion ul li{
  line-height: 1.2em;
  margin-bottom: .5em;
  word-break: normal;
}
.bccvl-experimenttable ul ul, .bccvl-experimenttable-accordion ul ul{
  list-style-type: initial;
  margin-left: 2em;
}
.bccvl-experimenttable h5, .bccvl-experimenttable-accordion h5 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #222;
  margin: 0 0 .5em 0;
}
.bccvl-experimenttable th span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("++resource++bccvl/lib/bootstrap/img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.bccvl-experimenttable ul li ul li, .bccvl-experimenttable-accordion  ul li ul li{
  margin: .3em 0;
}
.bccvl-experimenttable th.headerSortUp span {
    background-position: -288px -120px;
}
.bccvl-experimenttable th.headerSortDown span {
    background-position: -313px -119px;
}

.bccvl-experimenttable tr.headers {
    color: #009FE3;
}

.bccvl-experimenttable tr.headers th {
    cursor: pointer;
    min-width: 70px;
}

td.bccvl-full-list {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
}

.bccvl-experiment-summary {
    line-height: 15px;
}
.bccvl-experimentresults table p {
    margin-bottom:.3em;
    font-family:'OpenSansLight';
}
.bccvl-experimentresults table p span {
    margin-right:.5em;
    display:inline-block;
}
.bccvl-experimentresults table .lead {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom:.2em;
    font-weight: normal;
    font-family:'OpenSansRegular';
}
.bccvl-experimentresults table p strong {
    font-weight: normal!important;
    font-family:'OpenSansRegular';
}
/* footer ---------------------------------------------------------------- */

footer {
    /*opacity: 0.33;
    box-shadow: inset 0 9px 9px -9px #094;
    box-shadow: inset 0 75px 75px -75px #bbb;
    margin-top: 2em;
    border-top: 1px solid #aaa;
    padding-bottom: 2em;*/
    color: #777;
    text-align: center;
}
footer > div {
    padding-top: 1em;
    margin-bottom: 0;
}
footer.navbar {
    background-color: transparent;
}
footer a {
    color:#FFF;
}

/* knowledgebase ---------------------------------------------------------------- */

.navTree {
  margin-bottom: 0px;
  margin-left: 0;
  list-style: none;
  *zoom: 1;
  border-left: 1px dotted #d5d5d5;
}

.navTree > li {
  float: none;
}

.navTree > li > a {
  display: block;
  line-height: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 0;
  margin-top: 2px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.navTree > li > a:hover,
.navTree > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navTree > li > a > img {
  max-width: none;
  display: none;
}

.navTree > .pull-right {
  float: right;
}

.navTree:before,
.navTree:after {
  display: table;
  line-height: 0;
  content: "";
}

.navTree:after {
  clear: both;
}

.navTree > li:last-child > a {
  margin-bottom: 1px;
}

.navTree > .navTreeCurrentNode > a,
.navTree > .navTreeCurrentNode > a:hover,
.navTree > .navTreeCurrentNode > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}

.navTreeLevel0 {
  border-left: 0px;
}

.navTreeLevel1,
.navTreeLevel2,
.navTreeLevel3,
.navTreeLevel4,
.navTreeLevel5 {
  margin-left: 12px;
}

.morefilters > .facetmenu{
    display: none;
}

ul.facetmenu li input {
    float: right;
}

ul.facetmenu {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
}

.searchfilter .conjunction_choice {
    display:none;
}

div.morefilters h4 {
    background-color: #F5F5F5;
    cursor: pointer;
    padding: 0.2em 0.5em;
    color: #009FE3;
    font-family: Helvetica, sans-serif;
}

div.morefilters h5 {
    display:none;
}

div.morefilters h4 span.label {
    margin: 0;
    padding: 0;
    color: #009FE3;
    font-family: Helvetica, sans-serif;
    margin: .3em 0;
    display: inline-block;
}
.folder_listing h3 {
    font-size: 1.6em;
    font-family: "OpenSansSemibold";
    color:#333;
}
.documentByline {
    color:rgba(0,0,0,.5);
}
.item_title {
    margin-top:1em;
    margin-bottom:0;
    font-size:1.3em;
}
.title_link img {
    margin-right:3px;
}
.bccvl-kbsearch .facets {
  border:1px solid #ddd;
  padding:0 1em
}
.bccvl-kbsearch .facets .instructions {
  color:#666;
  font-size:0.9em;
  line-height:1.4em
}
.bccvl-kbsearch .facets h3 {
  font-size:2em;
  text-transform:capitalize;
}
.bccvl-kbsearch .facets .searchfilter h3 {
  font-size:1.2em;
  color: #3baa35;
  text-transform:none;
  font-family:'OpenSansRegular';
  margin-top:1.5em
}
.bccvl-kbsearch .facets .label {
  background:transparent;
}
div.morefilters h4:hover .label {
    color: #FFF;
}
div.morefilters h4:hover {
    background: #009FE3;
    color: #FFF;
}


/* search results ---------------------------------------------------------------- */

#search-results-bar {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    float: left;
    padding: 1em 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

#content {
    clear: both;
}

.actionMenuContent {
    display: none;
}

.actionMenuContent fieldset {
    width: 20%;
    line-height: 0;
}

.actionMenu label{
    font-size: 80%;
    display: inline;
    padding-left: 2px;
}

.actionMenu legend{
    font-size: 90%;
    font-weight: bold;
}

.formControls {
    padding-top: 10px;
}

#searchResultsSort {
    float: right;
}

.searchButton {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-left: 5px;
    margin-bottom: 10px;
}

.searchButton{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}


/*experiment results page*/

.experiment-details > div > label{
    font-weight:    bold;
}

.experiment-details > div{
    margin-bottom: 15px;
}

.dict-field > .row{
    margin-left: 0;
}

.algorithm-status > span {
    margin-right: 15px;
}

/** SHARING **/
#user-group-sharing-head th{
    font-size: 100%;
}

.modal-header h1 {
    font-size: 24px;
}

#sharing-save-button, .standalone{
    margin-top: 10px;
    margin-right: 10px;
}

.navbar .btn-navbar {
    color: #808080;
    text-shadow: none;
}

/* Legals / Terms and conditions*/

.legals {
    text-align: center;
}

.legals label {
    display: inline;
    padding-left: 10px;
}

/*
#wrapper-aaf a {
    cursor: default;
}*/

.table th {
    font-weight: normal;
    font-family: 'OpenSansSemibold';
    word-break: normal;
}
.table th a {
    font-family: 'OpenSansRegular';
}

table.bccvl-environmentaldatatable.table-hover tbody tr.info:hover > td {
    background:rgba(0, 159, 227, 1);
}
table.bccvl-environmentaldatatable.table-hover tbody tr.info.disabled:hover > td {
    background:rgba(0, 159, 227, .8);
}
table.bccvl-environmentaldatatable tbody + tbody {
    border-top:1px solid rgb(232, 232, 232);
}
table.bccvl-environmentaldatatable input[type="checkbox"] {
    margin-top:4px;
}
table.bccvl-environmentaldatatable {
    margin-bottom:0;
}
table.bccvl-environmentaldatatable label {
    font-size:12px;
    margin-top:3px;
    margin-bottom:0;
    line-height: 1.2em
}
table.bccvl-environmentaldatatable td:first-child {
    border-left:1px solid rgb(0, 159, 227);
}
table.bccvl-environmentaldatatable td:last-child {
    border-right:1px solid rgb(0, 159, 227);
}
table.bccvl-environmentaldatatable tbody tr.info td {
    color: white;
    text-decoration: none;
    font-family: "OpenSansSemibold", sans-serif;
    font-weight: normal;
    background:rgba(0, 159, 227, .8);
    border-top:1px solid rgb(0, 159, 227);
    cursor:pointer;
}
table.bccvl-environmentaldatatable tbody tr td {
    border-top:1px dashed rgb(232, 232, 232);
    padding-top:.35em;
    padding-bottom:.4em;
}
table.bccvl-environmentaldatatable tbody tr td p {
    margin:0;
    color:rgba(255,255,255,.8);
}
table.bccvl-environmentaldatatable tbody tr td:nth-child(1) {
    padding-top:.5em;
}
table.bccvl-environmentaldatatable tbody tr:nth-child(2) td {
    border-top:0px dashed rgb(232, 232, 232);
}
table.bccvl-environmentaldatatable tbody tr.info td {
    border-bottom:1px solid rgba(0, 159, 227);
}

table.bccvl-environmentaldatatable tbody tr:last-child td {
    border-bottom:1px solid rgb(0, 159, 227);
}
table.bccvl-environmentaldatatable tbody tr.info:last-child td {
    border-bottom:0px solid rgb(0, 159, 227);
}
table.bccvl-environmentaldatatable tbody tr.info td:first-child {
    border-left:1px solid rgb(0, 159, 227);
}
table.bccvl-environmentaldatatable tbody tr.info td:last-child {
    border-right:1px solid rgb(0, 159, 227);
}
table.bccvl-environmentaldatatable tbody tr.info.disabled td {
    border-top:1px solid rgba(0, 159, 227, .1);
}
table.bccvl-environmentaldatatable tbody tr.info.disabled td:first-child {
    border-left:1px solid rgba(0, 159, 227, .1);
}
table.bccvl-environmentaldatatable tbody tr.info.disabled td:last-child {
    border-right:1px solid rgba(0, 159, 227, .35);
}
/*table.bccvl-environmentaldatatable tbody:last-child tr:last-child td, table.bccvl-environmentaldatatable tbody:last-child tr:first-child td  {
    border-bottom:1px solid rgb(0, 159, 227);
}*/
table.bccvl-environmentaldatatable tbody tr.info.disabled {
    opacity: .35;
}
table.bccvl-environmentaldatatable tbody tr.info.disabled td {
    cursor:default;
}
#form-widgets-resolution {
    /*padding: 8px;*/
    width: 100%;
    height: 2em;
    margin-bottom:0;
}
.bccvl-stretch-parent .span4 {
    overflow-y: auto;
    /*box-shadow: inset 0px -3px 2px rgba(0,0,0,.07);*/
}
#experimentSetup {
    margin-bottom:0;
}

.bccvl-spatialscaletable {
    margin-bottom:0;
}
/* home page layout */
.jumbotron {
    text-align: center;
    padding-bottom:1.5em;
    /*margin-bottom:1.5em;
    border-bottom:1px solid rgba(0,0,0,.1);*/
}
.jumbotron h1 {
    font-size:3.6em;
    margin:.5em 0 .4em 0;
}
iframe.homepage {
    margin: .5em 0 1.5em;
}
.jumbotron p {
    font-size:1.1em;
    line-height: 1.3em;
}
.alert h3 {
    margin:.2em 0 .5em;
    font-family: "OpenSansSemibold";
}
.jumbotron .alert {
    font-size:1.1em;
}
.intro-steps .step {
    /*border-radius:5px;
    padding:.75em;
    margin:.25em 0 .75em;
    background:#ecf0f1;*/
    font-family: "OpenSansRegular";
    font-size:1.4em;
    line-height: 1.3em;

}

.intro-steps .step i {
    display:inline-block;
    float:left;
    font-size:1.8em;
    margin-top:.5em;
}
@media (max-width: 980px){
    .intro-steps .step i {
        margin-right:.35em;
        font-size:1.4em;
    }
}
@media (max-width: 767px){
    .intro-steps .step i {
        margin-right:.35em;
        font-size:1.4em;
        margin-top:0;
    }
}
.intro-steps .step1 i {
    color:#e74c3c;
}
.intro-steps .step2 i {
    color:#f9b233;
}
.intro-steps .step3 i {
    color:#4dc345;
}
.intro-steps .step4 i {
    color:#009FE3;
}
.notifications {
    border-radius:5px;
    padding:1em;
    margin:1em 0;
    background:#ecf0f1;
}
.notifications ul {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
}
.notifications ul li {
    margin-bottom:1em;
}
.notifications small.label {
    color: #FFF;
    background: #009FE3;
    font-weight: bold!important;
    font-size: 0.8em;
}
body.home>.white-bg {
    padding-bottom: 1em;
}
@media only screen and (max-height: 600px) {
    .modal-body {
        max-height:300px;
    }
}
@media only screen and (min-height: 501px) {
    .modal-body {
        max-height:60%;
    }
}
span.loading-gif {
    text-align: center;
    background-image: url('../lib/openlayers/img/Preloader_2.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    width: 100%;
    display: inline-block;
}
.modal-body h1 {
    font-size: 1.6em;
    color: #333;
}
.modal-body h3 {
    font-size: 1.2em;
    font-family: "OpenSansRegular";
}
.bccvl-datasetlist-filter {
    background: #ecf0f1;
    color:white;
    border-radius: 5px;
}
.bccvl-datasetlist-filter h4, .bccvl-datasetlist-filter h5, .faceted-widget legend {
    /*color:white;*/
    font-family: "OpenSansSemibold";
    margin-bottom:.5em;
}
.bccvl-dataset-collection {
    background: #ecf0f1;
    color:white;
    border-radius: 5px;
    margin-bottom:1.5em;
}
.bccvl-dataset-collection .collection-info {
    padding: .35em 20px 20px;
    line-height: 1em;
}
.bccvl-dataset-collection:nth-child(3n+2) {
    clear:left;
}
.bccvl-dataset-collection .collection-info h3 {
    line-height: 1.1em;
    font-size: 1.6em;
    font-family: "OpenSansRegular"
}
.bccvl-dataset-collection .collection-info p {
    margin:1em 0;
    line-height:1.2em;
}
.bccvl-dataset-collection .collection-info p em {
    color:rgba(0,0,0,.5);
}
.bccvl-datasetcollections section.listing {
    display: block;
    clear: left;
}
.bccvl-datasetcollections h2 {
    font-family: "OpenSansSemibold";
    color: #333;
    font-size: 1.5em;
}

.filter-bar, .faceted-left-column {
    padding: 1.5em 1.5em 1em 1.5em;
}
.filter, .faceted-widget {
    margin:1em 0;
    padding-bottom:.5em;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.faceted-widget:first-child {
    margin-top:0;
}
.faceted-widget:last-child {
    border-bottom:0;
}
.faceted-widget legend {
    font-size: 1.3em;
    color: #009FE3;
    border: 0;
    line-height: 1em;
}
.faceted-widget form {
    margin:0;
}
.filter ul, .faceted-widget ul {
    list-style-type: none;
    padding-left:0;
    margin-left:0;
}
.filter ul li, .faceted-widget ul li {
    vertical-align: top;
}
.filter input[type="checkbox"], .filter label, .faceted-widget label {
    display:inline-block;
}
.filter input[type="checkbox"], .faceted-widget input[type="checkbox"]  {
    margin: 0 6px 0 0;
}
.filter label, .faceted-widget label  {
    font-size:1em;
    padding:.2em .5em;
    line-height: 1.3em;
    text-indent: -18px;
    padding-left: 24px;
    vertical-align: top;
}
.faceted-widget label.select-field, .faceted-widget label.text-field {
    display:none;
}
.filter label.True, .filter label:hover {
    background: rgba(0, 159, 227, .65);
    border-radius:4px;
    color:white;
}
.filter .search-widget, .faceted-widget .search-widget {
    width:100%;
    font-size:0.9em;
}
.filter .search-widget input[type="text"], .faceted-widget .search-widget input[type="text"] {
    width:80%;
}
.filter .search-widget .btn {
    width:16%;
    height:2.1em;
}
.search-widget .btn i {
    line-height: 1.6em;
    padding: 0 10px;
}
.faceted-widget [disabled], .faceted-checkbox-item-disabled, .faceted-checkbox-item-disabled *, .faceted-select-item-disabled {
    cursor:default;
    color:#888;
    pointer-events:none;
}
.faceted-sorting-widget label  {
    font-size: 1em;
    color: #333;
    border: 0;
    margin: 0;
    display: inline;
    padding: 0;
    text-indent: 0;
    font-family: "OpenSansSemibold";
    line-height: 1.6em;
}
.faceted-sorting-widget select {
    font-size: 0.9em;
    line-height: 1.1em;
    height:2em;
}
.faceted-checkbox-item-disabled input[type="checkbox"] {
    opacity:0.8;
}
.faceted-checkbox-item-disabled .badge {
    opacity:.5;
    color:white;
}
.faceted-zero-count-hidden {
    display:none;
}
.faceted-sorting-widget .field {
    display: inline;
    background: rgba(0,0,0,.1);
    padding: 5px 6px 5px 2px;
    border-radius: 4px;
    font-size: 0.9em;
    margin-left: 3px;
}
.faceted-sorting-widget .field input[type="checkbox"] {
    margin: -1px 3px 0 0;
}
.faceted-sorting-widget .field label {
    color:rgba(0,0,0,.6);
}
.faceted-results .pagination:first-child ul {
    margin-top: -5em;
    float:right;
}
.faceted-center-column {
    padding-top:1em;
}
.datasets-table-row h4 {
    font-family: "OpenSansRegular";
}
.datasets-table-row {
}
.datasets-table-row > div {
    display: table-cell;
}
.datasets-table-row p:last-child {
    margin-bottom: 0;
}
.datasets-table-row .btn {
    margin-bottom:.3em;
}
.dataset-loading {
    font-size: 7px;
    text-transform: uppercase;
    text-align: center;
    color: #009FE3;
}
.dataset-error {
    font-size: 7px;
    text-transform: uppercase;
    text-align: center;
    color: red;
}
.dataset-error i {
    font-size: 2em;
    display: inline-block;
    margin: .7em .5em 0 .5em;
}
.datasets-table-row p {
    line-height: 1.2em
}
.datasets-table-row .loading-gif {
    background-image: url('../images/bccvl-loader_trans32.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height: 32px;
    width: 32px;
}
.faceted_select {
    margin-bottom: .75em;
}
.faceted-checkboxtree-widget ul {
    padding-left:3px;   
    margin-bottom:10px;
}
.faceted-checkboxtree-widget ul li label {
    font-weight: bold;
}
.faceted-checkboxtree-widget ul li ul li label {
    font-weight: normal;
}
.faceted-checkboxtree-widget ul li input[type="checkbox"] {
    margin-top:-1px;
}
.faceted-checkboxtree-widget ul li ul {
    padding-left:1.5em;
}
.faceted-checkboxtree-widget.faceted-widget label {
    padding: 0 0 0 1.5em;
    line-height: 1em;
    vertical-align: baseline;
}
.datasets-list-entry .dropdown-button {
    background: rgba(0,0,0,.1);
    display:block;
    padding:.3em;
    margin: 1em -1em -1em -1em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(0,0,0,.25);
}
.datasets-list-entry .dropdown-button:hover {
    background: rgba(80,150,190,.25);
    text-decoration:none;
}
.datasets-list-entry {
    margin-bottom: 1em;
    padding: 1em;
    background: #ecf0f1;
}
.dataset-list-dropdown {
    margin: 0 -1em -1em -1em;
    padding: 0em 1em;
}
.preview-dropdown  .datasets-controls {
    margin: .5em 0 1em;
}
.bccvl-list-preview-pane, .bccvl-modal-preview-pane {
    background:rgba(0,0,0,.05);
    height:100%;
    width:100%;
    min-height: 500px;
}
.bccvl-table-label p.lead {
    display: block;
}
.bccvl-table-label p {
    word-break:break-word;
    margin-right: 1em;
}
.bccvl-experimentdetails h1 {
    font-size:2.5em;
}
.bccvl-experimentdetails h3 {
    color:#555;
    margin-top:0;
    font-size:1.6em;
}
.bccvl-datasetlist-filter .hidden-options {
    display:none;
}
.datasets-list-sorting {
    font-size: 0.9em;
    vertical-align: baseline;
    font-weight: bold;
    display:inline-block;
    margin-bottom:1em;
}
.pagination-centered {
    text-align: right;
    margin:0;
}
.sort-dropdown {
    font-size:1em;
    line-height: 1em;
    height:2em;
    margin-bottom:0;
}
.bccvl-dashboardlists .btn {
    padding-left:1em;
    padding-right:1em;
}
.dash-panel{
    border-radius: 5px;
    padding: 1.5em;
    margin: 2em 0;
    background: #ecf0f1;
}
.dash-panel h2, .dash-panel h5, .dash-panel p {
    margin:0;
    color:black;
    line-height: 1em;
}
.home-stat {
    font-size:7em;
    line-height: 1em;
}
@media only screen and (max-width: 980px) and (min-width: 600px) {
    .home-stat {
        font-size:5em;
        line-height: 1em;
    }
    .dash-panel h2 {
        font-size:2em;
    }
}
.dashlist {
    margin-top:1em;
}
.dashlist h4 {
    margin-bottom:.25em;
    color:#333;
}
.dashlist hr {
    margin:10px 0;
}
.dashlist>div {
    margin-bottom:1em;
}
.dash-experiment, .dash-dataset {
    display: block;
    word-break:break-word;
}
.dash-dataset {
    display:block;
    background:#ecf0f1;
    padding:.6em 2.5%;
    margin:2px 0;
}
.dash-dataset a {
    font-size: 1.2em;
    display:block;
}
.dash-experiment a {
    display:block;
    background:#ecf0f1;
    padding:.6em 2.5%;
    font-size: 1.2em;
}
.dash-experiment {
    margin:2px 0;
}
.dash-experiment a {
    margin:2px 0;
}
.dash-experiment a:hover {
    background:#e1ebee;
}
.dash-experiment a.dash-experiment-name {
    width:71%;
    padding:.6em 2.5%;
    display: inline-block;
    min-height:33px;
}
.dash.experiment-state {
    width: 20%;
    padding: .6em 2%;
    display: inline-block;
    float: right;
    margin: 2px 0 0 0;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    min-height:36px;
    word-break:initial;
}
.experiment-state, td.experiment-state {
    font-size: 1.1em;
    line-height: 1em;
    text-align: center;
    /*min-height:36px;*/
    word-break:initial;
}
.experiment-state i {
    font-size: 1.5em;
}
table.bccvl-experimenttable thead tr.COMPLETED td, .experiment-state.success, div.COMPLETED  {
    background:rgba(77,195,69, .35);
    color:rgba(77,195,69, 1);
}
table.bccvl-experimenttable thead td.info, .experiment-state.info, div.info  {
    background:rgba(249,178,51, .35);
    color:rgba(236,132,30, 1);
}
table.bccvl-experimenttable thead tr.ERROR td, .experiment-state.error, div.ERROR  {
    background:rgba(231,76,60, .35);
    color:rgba(231,76,60, 1);
}
.bccvl-experimenttable-accordion {
    margin-bottom:6px;
    border:0px;
}
.bccvl-experimenttable-accordion ul, .bccvl-experimenttable-accordion ol{
    list-style-type: none;
}
.bccvl-experimenttable-accordion .experiment-accordion-heading > div{
    cursor:pointer;
    padding:1em;
}
.bccvl-experimenttable-accordion .experiment-accordion-heading:hover .COMPLETED {
    background:rgba(77,195,69, .5);
}
.bccvl-experimenttable-accordion .experiment-accordion-heading:hover .info {
    background:rgba(249,178,51, .5);
}
.bccvl-experimenttable-accordion .experiment-accordion-heading:hover .ERROR {
    background:rgba(231,76,60, .5);
}
.bccvl-experimenttable-accordion .bccvl-table-controls {
    float: right;
    max-width: 100px;
    text-align: right;
}
.bccvl-experimenttable-accordion .bccvl-table-controls a {
    margin-bottom:4px;
    font-size:1em;
}
.bccvl-experimenttable-accordion .bccvl-table-controls a i {
    vertical-align: middle;
    margin-top: 0;
}
.experiment-result-contents > div {
    padding: 1em;
}
.experiment-result-contents {
    background: #ecf0f1;
    border-bottom:1px solid rgba(0,0,0,.1);
}
.experiment-result-contents h5 {
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: .2em;
    font-weight: normal;
    font-family: 'OpenSansRegular';
}
.experiment-result-contents p span {
    margin-right: .5em;
    display: inline-block;
    font-family: 'OpenSansLight';
}
.filter ul li {
    display: inline-block;
    width: 49%;
}

.bccvl-wizardtabs .nav-tabs li a.completed {
    color:#3baa35;
}
.bccvl-wizardtabs .nav-tabs li a.error {
    color:#b94a48;
}
.bccvl-flashmessages p {
    margin: .5em 0;
    text-align: center;
}
.bccvl-flashmessages p strong {
    font-size: 1em;
}
input.error:focus, textarea.error:focus, select.error:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
input.error, textarea.error, select.error {
    color: #b94a48;
    border-color: #ee5f5b;
}
input[type="radio"].error {
    outline: 1px solid #ee5f5b;
}
label.error {
    color: #b94a48;
    margin-top:0;
}
table.error {
    border: 1px solid rgba(255,0,0,.5);
}
table.error td {
    background: rgba(255,0,0,.1);
    border-top: 1px solid rgba(255,0,0,.1);
}
.modal.large.new-experiment {
      width: 80%; /* responsive width */
      margin-left: -40%; /* width/2 */
      left: 50%;
      overflow-y: initial ;
  }
.ui-selectee {
    cursor: pointer;
}
.ui-selectable .datasets-list-entry p.lead.ui-selectee {
    font-size: 1.3em;
    line-height: 1em;
    margin-bottom: .3em;
    display: block;
    margin-left:0;
}
.ui-selectable .datasets-list-entry p {
    display:inline-block;
    margin-bottom: 0;
    font-size: 0.9em;
    line-height: 1em;
    margin-right: 1em;
}
.datasets-list-entry input[type="checkbox"], .datasets-list-entry input[type="radio"] {
    margin-top: .25em;
    vertical-align: top;
}
#datasets-popup-result .datasets-list-entry {
    margin-bottom: .3em;
    cursor:pointer;
}
#datasets-popup-result .datasets-list-entry.ui-selected {
    background: rgba(0, 159, 227, .5);
    /*color: white;*/
}
#datasets-popup-result .datasets-list-entry h4 strong {
    color:#009FE3;
}

#datasets-popup-result .datasets-list-entry.ui-selected h4, #datasets-popup-result .datasets-list-entry.ui-selected h4 strong {
    color:#333;
}
#datasets-popup-result .datasets-list-entry dl {
    margin-bottom:1em;
}
.selectize-control.multi {
    margin-bottom:.7em;
}
.selectize-control.multi .selectize-input > div {
    font-size: 12px;
    margin: 1px!important;
}
.selectize-dropdown-content {
  font-size: 12px;
  line-height: 1.25em;
}
.selectize-input.items.not-full.has-options.has-items, .selectize-control.multi .selectize-input {
    padding:5px;
}

/* custom single select remove button */
.selectize-control.plugin-remove_button [data-value] .remove-single {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
}

img.ui-selectee {
    vertical-align: bottom;
    line-height: 1em;
}
ul.inline > li, ol.inline > li {
    padding-right:10px;
    padding-left:0;
}
#datasets-popup-result .ui-selecting { background: rgba(0, 159, 227, .3); }

div#datasets-popup-result {
    max-height: 420px;
    overflow-y: auto;
}
.new-experiment.modal .modal-body {
    padding:0;
}
.new-experiment.modal .modal-body form {
    padding:1em 0;
    background: rgba(0, 159, 227, .15);
    margin-bottom: 0;
    min-height: 420px;
    max-height: 600px;
    overflow-y: auto;
}
#datasets-popup-result-list {
    padding-right: 1em;
}
#datasets-popup-searchform input,  #datasets-popup-searchform select {
    width:auto;
}
/*input#datasets-filter-text {
    width:94%;
}*/
#datasets-popup-searchform input {
    font-size:12px;
}
#datasets-popup-searchform label {
    font-size:1em;
    font-family: "OpenSansRegular";
    color: #009FE3;
}
.popup-filter {
padding: 0 1em;
}
#datasets-popup-searchform small {
    line-height: 1.3em;
}
#datasets-popup-searchform p {
    margin-top:.5em;
}
.datasets-list-entry h4 {
    margin-top:0;
}
.datasets-list-entry ul {
    margin-bottom:0;    
}
.selecteditem {
    padding: .5em;
    background: rgba(0, 159, 227, .25);
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 0 .75em;
    line-height: 2em;
}
.selecteditem.error {
    background: #f2dede;
}
.selecteditem ul {
    list-style-type: none;
    margin-left: 0;
}
.selecteditem ul li {
  line-height: 1em;
  margin: .5em 0 .75em 0;
  padding-left: 25px;
  text-indent: -25px;
  padding-right: 10px;
}
.selecteditem ul li label {
    display: inline;
    font-size: 0.9em;
    line-height: 1em;
}
.selecteditem ul li input[type="checkbox"]{
    margin: 1px .5em;
    vertical-align: top;
}
.selectedexperiment {
  padding: .5em;
}
.selectedexperiment h4 {
    font-family: "OpenSansRegular";
    margin: 0 0 .5em;
}
.selecteddatasets.controls-row {
    margin-bottom:.5em;
}
.selecteddatasets.controls-row input[type="checkbox"]{
   height: 1em;
  margin-top: .7em; 
}

.selecteditem p {
    line-height: 1.3em;
    margin: .35em 0 .35em 0;
}
.selecteditem p.lead {
    font-size:16px;
}
.selecteditem .btn {
    margin-left:5px;
}
.loader-container {
    display:block;
    text-align: center;
}
img.loader {
    display:none;
    margin:0 auto 1em auto;
}

.table {
    border-spacing: 0 2px;
    border-collapse: separate;
}
.table tr td {
    background: #ecf0f1;
    border-top: 0;
}
.table tr.selectedmodels td {
  background: none;
  border-top: 1px solid rgba(0,0,0,.1);
}

.table tr.selecteddatasets td {
  background: none;
  border-top: 1px solid rgba(0,0,0,.1);
}
h4 strong {
    color:#333;
}
hr{
    margin:10px 0;
}
.table.bccvl-experimenttable th {
    padding-top:4px;
    padding-bottom:4px;
}
.bccvl-experimenttable.table {
  border-spacing: 0 6px;
}
#bccvl-experimentresults-table.bccvl-experimenttable.table {
    border-spacing:0px;
}
#bccvl-experimentresults-table.bccvl-experimenttable.table td{
    border-bottom:1px solid rgba(0,0,0,.05);
}
h5.results-title {
    font-family: "OpenSansSemibold";
  color: #333;
  margin: 1em 0 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.bccvl-kbsearch {
    margin-top: 1em;
}
.btn .fa {
    font-size:.9em;
}
form.plone-to-bootstrap-form {
    margin-top:1em;
}
form.plone-to-bootstrap-form input, form.plone-to-bootstrap-form textarea, form.plone-to-bootstrap-form select {
    width:100%;
    max-height:180px;
}
form.plone-to-bootstrap-form input[type="submit"], form.plone-to-bootstrap-form input[type="checkbox"], form.plone-to-bootstrap-form input[type="radio"] {
    width:auto;
}
form.plone-to-bootstrap-form input[type="checkbox"], form.plone-to-bootstrap-form input[type="submit"] {
    margin:0 10px 0 0;
}
/*form.plone-to-bootstrap-form .controls {
    margin-left:250px;
}*/
form.plone-to-bootstrap-form span.fieldRequired {
    color:red;
    font-size:0.9em;
    display:inline-block;
    clear:left;
    float:left;
}
form.plone-to-bootstrap-form label { 
    display:inline-block;
}
form.plone-to-bootstrap-form .field>label {
    display:inline-block;
    float:left;
    font-weight:600;
    max-width:170px;
    margin-right:20px;
    text-align: left;
}

form.plone-to-bootstrap-form .formHelp {
    font-size:0.9;
    display:inline-block;
    float:left;
    clear:left;
     max-width:170px;
}
form.plone-to-bootstrap-form .profile-thumb {
    margin:-20px 10px 10px;
}
form.plone-to-bootstrap-form .widget label {
  font-weight: bold;
  max-width: none;
  margin: -16px 20px 0 20px;
}
form.plone-to-bootstrap-form .widget label span {
  font-weight: normal;
  font-size: 0.9em;
  max-width: none;
}
#user-info-form {
    padding-top:2em;
}
.bccvl-algorithmtable label {
    color:#0088cc;
    font-family: "OpenSansRegular";
}
